{% extends 'layout.html' %}

{% block head %}
    <style>
        body{
            margin:0px;
        }
    </style>
{% endblock %}

{% block body%}
<div class="jumbotron bg-success">
    <h1 class="text-white">TAWEET</h1>
</div>

<div class="container-fluid" style="height: 500px;">
    <div class="card mx-auto d-block w-50 mt-5">
        <div class="card-header text-center">
           <h1>LOGIN</h1>
        </div>
        <div class="card-body">
            <form action="/login" method="post">
            <input type="text" name="username" required placeholder="User Name" class="form-control w-100">
            <input type="password" name="password" required placeholder="Password" class="form-control w-100">

            <input type="submit" value="Login" class="btn btn-success btn-block w-100">
            </form>
        </div>
        <div class="card-footer text-center">
           <h5>Not yet registered? <a href="/register">Click here.</a></h5>
        </div>
   </div>


    
</div>
{% endblock %}
