<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5ef76c1dd4.js" crossorigin="anonymous"></script>
    <title>Document</title>
    {% block head %}

    {% endblock %}
</head>
<body>
    {% block body%}
    {% endblock %}
    <footer class="bg-dark text-white text-center p-3">  
        Created by TAKUTO NAKANO
    </footer>
</body>
</html>